@* <> E Posta Doğurlama *@
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="email-confirmation-modal">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form w-100 mb-10" novalidate="novalidate" data-kt-redirect-url="/metronic8/demo14/../demo14/index.html" id="kt_sing_in_two_factor_form">
                        <div class="text-center mb-10">
                            <img alt="Logo" class="theme-light-show mh-125px" src="/assets/media/svg/misc/smartphone-2.svg">
                            <img alt="Logo" class="theme-dark-show mh-125px" src="/assets/media/svg/misc/smartphone-2-dark.svg">
                        </div>
                        <div class="text-center mb-10">
                            <h1 class="text-dark mb-3" data-kt-translate="two-step-title">
                                Mail Doğrulaması
                            </h1>
                            <div class="text-muted fw-semibold fs-5 mb-5" data-kt-translate="two-step-deck">Doğrulama Kodunu Giriniz</div>
                            <div class="fw-bold text-dark fs-3">******7859</div>
                        </div>
                        <div class="mb-10">
                            <div class="fw-bold text-start text-dark fs-6 mb-1 ms-1" data-kt-translate="two-step-label">6 haneli kodu giriniz</div>
                            <div class="d-flex flex-wrap flex-stack">                      
                                <input type="text" name="code_1" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" inputmode="text">
                                <input type="text" name="code_2" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" inputmode="text">
                                <input type="text" name="code_3" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" inputmode="text"> 
                                <input type="text" name="code_4" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" inputmode="text"> 
                                <input type="text" name="code_5" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" inputmode="text">                     
                                <input type="text" name="code_6" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control form-control-solid h-60px w-60px fs-2qx text-center border-primary border-hover mx-1 my-2" value="" inputmode="text"> 
                            </div>                
                        </div>
                        <div class="text-center">
                            <button id="kt_sing_in_two_factor_submit" class="btn btn-primary" data-kt-translate="two-step-submit">
                                <span class="indicator-label">
                                    Submit</span>
                                <span class="indicator-progress">
                                    Please wait...    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="/assets/js/custom/generic/email-confirmation.js"></script>
@* </> E Posta Doğurlama *@ 
