<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta property="og:locale" content="tr_TR" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<link rel="canonical" href="" />
	<link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<link href="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/ripple.css" rel="stylesheet" type="text/css" />
    <script src="/assets/plugins/global/plugins.bundle.js"></script>
    <script src="/assets/js/scripts.bundle.js"></script>
    <script src="/assets/js/ripple.js"></script>
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed">
    <script>
        var defaultThemeMode = "light";
        var themeMode;
        if (document.documentElement) {
            if (document.documentElement.hasAttribute("data-bs-theme-mode")) {
                themeMode = document.documentElement.getAttribute("data-bs-theme-mode");
            } else {
                if (localStorage.getItem("data-bs-theme") !== null) {
                    themeMode = localStorage.getItem("data-bs-theme");
                } else {
                    themeMode = defaultThemeMode;
                }
            }
            if (themeMode === "system") {
                themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
            }
            document.documentElement.setAttribute("data-bs-theme", themeMode);
        }
    </script>
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                @await Component.InvokeAsync("Navbar")
                <div class="d-flex flex-column-fluid">
                    @await Html.PartialAsync("_Aside")
                    <div class="d-flex flex-column flex-column-fluid container-fluid">
                        @RenderBody()
                        @await Html.PartialAsync("_Footer")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ActivitiesDrawer")
    @await Html.PartialAsync("_ChatDrawer")
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </div>
    <script>
        $(function() {
            window.rippler = $.ripple('.btn:not(.no-bind), .area', {
                debug: true,
                multi: true
            });
            $.ripple('.no-bind.demo', {
                on: 'mouseleave',
                multi: true
            });
            $.ripple('.no-bind.jakiestfu', {
                on: 'mouseenter',
                multi: true
            });
        });
    </script>
    <script>var hostUrl = "assets/index.html";</script>
    <script src="/assets/js/utilities.js"></script>
    <script src="/assets/js/draggable.js"></script>
    <script src="/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="/assets/js/widgets.bundle.js"></script>
    <script src="/assets/js/custom/widgets.js"></script>
    <script src="/assets/js/custom/apps/chat/chat.js"></script>
    <script src="/assets/js/custom/utilities/modals/create-app.js"></script>
    <script src="/assets/js/custom/utilities/modals/create-campaign.js"></script>
    <script src="/assets/js/custom/utilities/modals/users-search.js"></script>
</body>
</html>